.elements-grid__delete-button {
  background-image: url('../../../../images/trash-icon.svg');
  background-color: rgba(0, 0, 0, 0);
  width: 22px;
  height: 20px;
  margin-top: -20px;
  margin-left: -22px;
  padding: auto;
  display: flex;
  flex-direction: row;
  align-self: center;
  object-fit: cover;
  background-repeat: no-repeat;
  border: none;
  position: relative;
  bottom: 251px;
  left: 270px;
  z-index: 5;
}

.elements-grid__delete-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.elements-grid__delete-button_hidden {
  visibility: hidden;
}