.profile-grid__add-button {
  width: 155px;
  height: 55px;
  margin: 0;
  padding: auto;
  display: flex;
  flex-direction: row;
  align-self: center;
  background: url('../../../../images/add-button.svg');
  object-fit: cover;
  background-repeat: no-repeat;
  border: 0;
}

.profile-grid__add-button:hover {
  opacity: .6;
  cursor: pointer;
}