@import url(../styles/normalize.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__line/header__line.css);
@import url(../blocks/content/content.css);
@import url(../blocks/content/profile-grid/profile-grid.css);
@import url(../blocks/content/profile-grid/__avatar/profile-grid__avatar.css);
@import url(../blocks/content/profile-grid/__information/profile-grid__information.css);
@import url(../blocks/content/profile-grid/__username/profile-grid__username.css);
@import url(../blocks/content/profile-grid/__edit-button/profile-grid__edit-button.css);
@import url(../blocks/content/profile-grid/__subtitle/profile-grid__subtitle.css);
@import url(../blocks/content/profile-grid/__add-button/profile-grid__add-button.css);
@import url(../blocks/content/elements-grid/elements-grid.css);
@import url(../blocks/content/elements-grid/__card/elements-grid__card.css);
@import url(../blocks/content/elements-grid/__photo/elements-grid__photo.css);
@import url(../blocks/content/elements-grid/__description/elements-grid__description.css);
@import url(../blocks/content/elements-grid/__place-name/elements-grid__place-name.css);
@import url(../blocks/content/elements-grid/__like-button/elements-grid__like-button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title-and-button/popup__title-and-button.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__username/popup__username.css);
@import url(../blocks/popup/__subtitle/popup__subtitle.css);
@import url(../blocks/popup/__save-button/popup__save-button.css);
@import url(../blocks/popup/__overlay/popup__overlay.css);




@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Regular.woff2) format("woff2"),
  url(../fonts/Inter-Regular.woff) format("woff");
}

@font-face {
  font-family: 'Inter-Black';
  src: url(../fonts/Inter-Black.woff2) format("woff2");
  src: url(../fonts/Inter-Black.woff) format("woff");
}

.page {
  background: #000000;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 880px) {
  
  .header {
    max-width: 320px;
  }

  .header__line {
    transform: scaleX(0.66);
    position: relative;
    right: 150px;
  }

  .header__logo {
    transform: scale(0.72);
  }

  .profile-grid {
    grid-template-columns: 120px 260px 150px;
  }

  .profile-grid__username {
    font-size: 22px;
    line-height: 1.22;
    text-align: center;
    padding-top: 26px;
  }

  .profile-grid__subtitle {
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    padding-bottom: 36px;
  }

  .profile-grid__edit-button {
    transform: scale(0.60);
    margin: 0 0 0 10px;
    position: relative;
    top: 26px;
  }

  .elements-grid {
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }

}

@media screen and (max-width: 595px) {
  
  .header {
    max-width: 320px;
  }

  .header__logo {
    transform: scale(0.72);
  }

  .header__line {
    margin-left: -130px;
   }

  .profile-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
    padding: 38px 0 36px;
    margin: 0;
  }

  .profile-grid__username {
    font-size: 22px;
    line-height: 1.22;
    text-align: center;
    padding-top: 26px;
  }

  .profile-grid__subtitle {
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    padding-bottom: 36px;
  }

  .profile-grid__information {
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .profile-grid__edit-button {
    transform: scale(0.60);
    margin: 0 0 0 10px;
    position: relative;
    top: 26px;
  }

  .profile-grid__add-button {
    width: 285px;
    height: 53px;
    align-self: center;
    justify-content: center;
    background: url(../../../../images/add-button-2.svg);
    background-repeat: no-repeat;
    display: flex;
    justify-self: center;
  }

  .elements-grid {
    grid-template-columns: 1fr;
    margin: auto;
  }

  .footer__copyright {
    padding-top: 50px;
    padding-bottom: 36px;
  }

  .popup__container {
    width: 282px;
    height: 322px;
  }

  .popup__title {
    font-size: 18px;
    padding-left: 22px;
    padding-bottom: 65px;
    padding-top: 9px;
  }

  .popup__close-button {
    left: 0;
    bottom: 55px;
    transform: scale(.65);
  }

  .popup__username {
    width: 238px;
  }

  .popup__subtitle {
    width: 238px;
  }

  .popup__save-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
  }
}