.profile-grid__add-button {
  width: 155px;
  height: 55px;
  margin: 0;
  padding: auto;
  display: flex;
  flex-direction: row;
  align-self: center;
  background: url(/images/add-button.png);
  object-fit: cover;
  background-repeat: no-repeat;
}