.profile-grid__avatar-box {
  display: flex;
  justify-content: center;
}

.profile-grid__avatar-box:hover > .profile-grid__avatar {
  opacity: .3;
}

.profile-grid__avatar-box:hover > .profile-grid__avatar-edit {
  visibility: visible;
  z-index: 999;
}