.elements-grid__like-button {
  background: url("/images/like-button.svg");
  width: 22px;
  height: 20px;
  margin: 0;
  padding: auto;
  display: flex;
  flex-direction: row;
  align-self: center;
  object-fit: cover;
  background-repeat: no-repeat;
  border: none;
}

.elements-grid__like-button:hover {
  opacity: 0.5;
}