.popup__input {
  font-family: 'Inter';
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-bottom: 10px;
  width: 358px;
  margin-bottom: 34px;
}